[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div class="container" id="vue-target" v-cloak>

    <div class="section">
        <figure>
            <img src="https://raw.githubusercontent.com/zachjicha/ReportCard/master/static/logo_trimmed.png?token=AP2ENE63IXDKIUUA4IAZR2DAXGVZ6"/>
        </figure>

        <div class="section has-text-centered">
            <div class="block">
                <div class="form">
                    <div class="control">
                        <input class="input" type="text" list="courses" v-model="course_query" @keyup="check_validity">
                        <datalist id="courses">
                            <option v-for="c in courses">{{ c }}</option>
                        </datalist>
                    </div>
                    <p class="help is-danger" v-if="!is_valid">
                        Please enter a valid course
                    </p>
                </div>

            </div>

            <div class="block">
                <button class="button is-success" v-if="is_valid">
                    Go!
                </button>
                <button class="button is-success" disabled v-else>
                    Go!
                </button>
            </div>

        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
let search_url = "[[=XML(search_url)]]";
let load_courses_url = "[[=XML(load_courses_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
