[[extend 'layout.html']]


<style>
[v-cloak] {
     display: none;
}
</style>

<div class="container" id="profile-page" v-cloak>
    <div class="section">
        <div class="columns is-mobile">
            <div class="column is-3 has-text-centered">
                <figure style="margin-left: auto; margin-right: auto" class="image is-1by1">
                    <img class="is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/University_cap_icon.svg/640px-University_cap_icon.svg.png">
                </figure>

                <h1 class="title">[[=user_info.first_name]] [[=user_info.last_name]]</h1>
                <h2 class="subtitle">[[=user_info.email]]</h2>

            </div>

            <div class="column">
                <div class="box">
                    <h1 class="title">Reviews</h1>

                    <div class="box" v-for="r in reviews.slice().reverse()">
                        <div class="block">
                            <span><b>Instructor: </b> <a @click="to_instr(r._idx)">{{ r.instr_name }}</a></span><br>
                            <span><b>Course: </b> <a @click="to_course(r._idx)">{{ r.course_name }}</a></span><br>
                            <span><b>Rating: </b> {{ r.rating.toFixed(1) }}/5.0</span><br>
                        </div>


                        <div class="block" v-if="r.is_editing">
                            <div class="form">
                                <div class="field">
                                    <label class="label">Rating</label>
                                    <div class="control">
                                        <span @mouseout="edit_stars_out">
                                            <span @mouseover="edit_star_over(star_idx)" @click="edit_set_star(star_idx)" v-for="star_idx in [1, 2, 3, 4, 5]">
                                                <i v-if="star_idx <= edit_stars_displayed" class="fa fa-star fa-2x"></i>
                                                <i v-else class="fa fa-star-o fa-2x"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Edit Review:</label>
                                    <div class="control">
                                        <textarea class="textarea" type="text" v-model="edit_text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="button is-success" @click="save_edit(r._idx, r.id)">
                                Save
                            </button>
                            <button class="button is-danger" @click="cancel_edit(r._idx)">
                                Cancel
                            </button>
                        </div>
                        <div class="block" v-else>
                            {{ r.body }}
                        </div>

                        <div class="block">
                            <button class="button" v-if="logged_in" @click="like_review(r._idx)">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </span>
                                    <span>{{ r.likers }}</span>
                                </span>
                            </button>
                            <button class="button" v-else disabled>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </span>
                                    <span>{{ r.likers }}</span>
                                </span>
                            </button>

                            <button class="button" v-if="logged_in" @click="dislike_review(r._idx)">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-o-down"></i>
                                    </span>
                                    <span>{{ r.dislikers }}</span>
                                </span>
                            </button>
                            <button class="button" v-else disabled>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-o-down"></i>
                                    </span>
                                    <span>{{ r.dislikers }}</span>
                                </span>
                            </button>

                            <button class="button is-warning" v-if="r.user == author_email" @click="start_edit(r._idx)">
                                <span class="icon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </button>

                            <button class="button is-danger" v-if="r.user == author_email" @click="delete_review(r._idx)">
                                <span class="icon">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let load_user_reviews_url = "[[=XML(load_user_reviews_url)]]";
    let author_email = "[[=XML(author_email)]]";
    let logged_in = "[[=XML(logged_in)]]" == "True";
    let delete_review_url = "[[=XML(delete_review_url)]]";
    let add_like_url = "[[=XML(add_like_url)]]";
    let flip_like_url = "[[=XML(flip_like_url)]]";
    let delete_like_url = "[[=XML(delete_like_url)]]";
    let edit_review_url = "[[=XML(edit_review_url)]]";
    let user_id = "[[=XML(user_id)]]";
</script>
<script src="js/profile.js"></script>
[[end]]